.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    visibility: hidden;
    padding: 0 19px;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_opened {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

.modal__container {
    position: relative;
    padding: 36px;
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    max-width: 430px;
    box-sizing: border-box;
}

.modal__img {
    position: relative;
    margin: auto;
}

.modal__img img{
    max-width: 1200px;
    max-height: 550px;
}

.modal__close {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: calc(100% + 5px);
    left: calc(100% + 5px);
    width: 40px;
    height: 40px;
    background-image: url(../images/close.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
}

.modal__close:hover {
    opacity: 0.6;
}

.modal__heading {
    color: #000;
    margin: 0 0 54px;
    width: 330px;
    font-weight: 900;
    font-size: 24px;
}

.modal__form {
    display: grid;
    max-width: 358px;
}

.modal__button {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    height: 50px;
    border-radius: 2px;
    margin-top: 48px;
    padding: 0;
    cursor: pointer;
    border: none;
}

.modal__button:hover {
    opacity: 0.8;
}

.modal__form input {
    padding: 0 0 13px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-size: 14px;
}

.modal__form input:nth-last-of-type(1) {
    margin-top: 30px;
}

@media screen and (max-width:780px) {
    .modal__img img{
        max-width: 500px;
    }
}

@media screen and (max-width:580px) {

    .modal__close {
        left: calc(100% - 40px);
        bottom: calc(100% + 13px);
    }

    .modal__img img{
        max-width: 250px;
    }

    .modal__container {
        max-width: 282px;
        padding: 25px 22px;
        margin: 0;
    }

    .modal_opened {
        padding: 0;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .modal__heading {
        max-width: 238px;
        font-size: 18px;
    }

    .modal__button {
        font-size: 14px;
    }
}

@media screen and (max-width:320px) {
    .modal__close {
        left: calc(100% - 26px);
        width: 26px;
        height: 26px;
    }

    .modal__close-image {
        left: 100%;
    }
}