@media screen and (max-width: 480px) {
  .header {
    border: none;
    text-align: left;
    display: flex;
  }

  .profile__image {
    margin-right: 24px;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    display: flex;
  }

  /* .profile__edit-button {
    margin: 0 10px;
    width: 24px;
  } */
}

@media screen and (max-width: 320px) {
  .page {
    text-align: center;
    margin: 0;
    width: 100px;
    display: flex;
  }

  .header {
    padding-top: 28px;
    border-bottom: 1px solid #545454;
    height: 56px;
    min-width: 320px;
    display: flex;
    justify-content: center;
  }

  .header__image {
    width: 126px;
    height: 24px;
    margin: 0 auto auto 27px;
  }

  .profile {
    flex-direction: column;
    padding: 42px 0 36px 0;
    margin: 0;
  }

  .card__list {
    display: grid;
    justify-content: center;
  }

  .profile__title {
    font-size: 22px;
    font-weight: 500;
    margin-left: auto;
    margin-right: 10px;
    width: 196px;
  }

  .profile__info {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .profile__image {
    margin: 0;
  }

  .profile__description {
    width: 282px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-top: 14px;
  }

  .profile__add-button {
    margin-top: 36px;
    width: 282px;
  }

  .profile__edit-button {
    margin: 0 15px 0 auto;
    width: 18px;
  }

  .page__content {
    margin: 0;
  }

  .footer {
    width: 282px;
    display: flex;
    margin-bottom: 36px;
  }
}
