@media screen and (max-width: 320px) {
    .page {
        max-width: 320px;
    }

    .header {
        padding-top: 28px;
        min-height: 56px;
    }

    .header__image {
        max-width: 126px;
        min-height: 24px;
        margin: 0 auto auto 27px;
    }

    .profile {
        flex-direction: column;
        padding: 42px 0 36px;
    }

    .cards__list {
        justify-content: center;
    }

    .profile__title {
        font-size: 22px;
        max-width: 196px;
    }

    .profile__info {
        align-items: center;
        justify-items: center;
        position: relative;
    }

    .profile__image {
        margin: 0;
    }

    .profile__description {
        max-width: 282px;
        font-size: 14px;
        margin-top: 14px;
    }

    .profile__add-button {
        margin: 36px 0 0;
        width: 282px;
    }

    .profile__edit-button {
        margin: 0;
        max-width: 18px;
        position: absolute;
        top: 10px;
        right: 34px;
    }

    .page__content {
        margin: 0;
    }

    .footer {
        margin: 48px 20px 36px;
        font-size: 14px;
        max-width: 282px;
    }
}